/*
!/.bash_logout
!/.bash_profile
!/.bashrc
!/bin
!/.bmonrc
!/.config
!/.devilspie
!/doc
!/etc
!/.git
!/.gitattributes
!/.gitconfig
!/.gitignore
!/.gitignore_global
!/.irbrc
!/.lbdbrc
!/lib
!/.mc
!/.muttrc
!/.offlineimap.py
!/.offlineimaprc
!/.pandoc
!/.tmux
!/.t-prot
!/.vim
!/.vimrc
!/.x
!/.xprofile
!/.xsessionrc
